{
  "project_info": {
    "project_number": "__RESTORE_FROM_MOBILE_ANDROID_GOOGLE_SERVICES_JSON_B64__",
    "project_id": "__RESTORE_FROM_MOBILE_ANDROID_GOOGLE_SERVICES_JSON_B64__",
    "storage_bucket": "__RESTORE_FROM_MOBILE_ANDROID_GOOGLE_SERVICES_JSON_B64__"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "__RESTORE_FROM_MOBILE_ANDROID_GOOGLE_SERVICES_JSON_B64__",
        "android_client_info": {
          "package_name": "com.solcode.jirmalam"
        }
      },
      "oauth_client": [
        {
          "client_id": "__RESTORE_FROM_MOBILE_ANDROID_GOOGLE_SERVICES_JSON_B64__",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "__RESTORE_FROM_MOBILE_ANDROID_GOOGLE_SERVICES_JSON_B64__"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "__RESTORE_FROM_MOBILE_ANDROID_GOOGLE_SERVICES_JSON_B64__",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
