/* 
.react-tabs__tab-list: 탭 목록을 담고 있는 컨테이너
.react-tabs__tab: 각각의 탭
.react-tabs__tab--selected: 선택된 탭
.react-tabs__tab-panel: 각각의 탭 패널
.react-tabs__tab-panel--selected: 활성화된 탭 패널 
*/

.react-tabs__tab-panel--selected:focus {
  color: aliceblue;
  border-bottom: 2px solid cornflowerblue;
  transition: border-bottom-color, color 0.1s;
}
.react-tabs__tab--selected {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid cornflowerblue;
}
.react-tabs__tab {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid transparent;
  margin: 4px;
  padding: 4px;
  color: gainsboro;
}
.react-tabs__tab:hover {
  border-bottom: 2px solid cornflowerblue;
  transition: border-bottom-color 0.1s;
  color: rgb(114, 114, 114);
}
.react-tabs__tab-list {
  border: none;
  margin-bottom: 45px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

.react-tabs__tab-list ul {
  overflow: scroll;
  white-space: nowrap;
}

.react-tabs__tab-list ul::-webkit-scrollbar {
  display: none;
}
.react-tabs__tab-list > ul li:focus {
  outline: none;
  box-shadow: none;
}
