name: deploy-admin-production

on:
  push:
    tags:
      - "v*.*.*"
    paths:
      - "apps/admin/**"
      - "packages/**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
      DOCKER_REPOSITORY: ${{ secrets.DOCKER_USER }}/jirum-alarm-admin
      DOCKER_USER: ${{ secrets.DOCKER_USER }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      INFRA_GITHUB_REPOSITORY: ${{ secrets.INFRA_GITHUB_REPOSITORY }}
      INFRA_GITHUB_REPOSITORY_DEPLOY_FILE_PATH: jirum-alarm-frontend-admin-deployment.yaml

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        # with:
        # version: 8

      - name: Get version
        id: image
        run: |
          VERSION=$(echo ${{ github.sha }} | cut -c1-8)
          echo VERSION=$VERSION
          echo "::set-output name=version::$VERSION"

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install packages
        run: pnpm install

      - name: Docker private registry setting
        run: |
          echo $DOCKER_PASSWORD | docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin

      - name: Build Image & Push Image
        run: |
          docker build \
            --build-arg NEXT_PUBLIC_API_URL=${{ vars.NEXT_PUBLIC_API_URL }} \
            --build-arg NODE_ENV=${{ vars.NODE_ENV }} \
            -t $DOCKER_REGISTRY/$DOCKER_REPOSITORY:$IMAGE_TAG \
            -f apps/admin/deploy/production/Dockerfile .
          docker tag $DOCKER_REGISTRY/$DOCKER_REPOSITORY:$IMAGE_TAG $DOCKER_REGISTRY/$DOCKER_REPOSITORY:production
          docker push $DOCKER_REGISTRY/$DOCKER_REPOSITORY:$IMAGE_TAG
          docker push $DOCKER_REGISTRY/$DOCKER_REPOSITORY:production
          echo "::set-output name=image::$DOCKER_REGISTRY/$DOCKER_REPOSITORY:$IMAGE_TAG"
        env:
          IMAGE_TAG: ${{ steps.image.outputs.version }}

      - name: Checkout kubernetes infra repository
        uses: actions/checkout@v4
        with:
          repository: ${{ env.INFRA_GITHUB_REPOSITORY }}
          ref: main
          token: ${{ secrets.ACTION_TOKEN }}
          path: infra

      - name: Install yq
        run: |
          set -euo pipefail
          YQ_VERSION="v4.44.3"
          sudo wget -qO /usr/local/bin/yq "https://github.com/mikefarah/yq/releases/download/${YQ_VERSION}/yq_linux_amd64"
          sudo chmod +x /usr/local/bin/yq
          yq --version

      - name: Update Kubernetes manifest
        working-directory: infra
        run: |
          set -euo pipefail
          DEPLOYMENT_FILE="server/jirum-alarm-frontend-admin/production/$INFRA_GITHUB_REPOSITORY_DEPLOY_FILE_PATH"

          # Build image url
          export IMAGE_URL="harbor.kyojs.com/tjsry0466/jirum-alarm-admin:${{ steps.image.outputs.version }}"
          yq eval -i '.spec.template.spec.containers[0].image = strenv(IMAGE_URL)' "$DEPLOYMENT_FILE"

          # Change cause
          export CHANGE_CAUSE="Deployed by GitHub Actions - ${{ github.sha }}"
          yq eval -i '.spec.template.metadata.annotations."kubernetes.io/change-cause" = strenv(CHANGE_CAUSE)' "$DEPLOYMENT_FILE"

          # Timestamp to trigger rollout
          export TIMESTAMP="$(date -u +%Y-%m-%dT%H:%M:%SZ)"
          yq eval -i '.spec.template.metadata.annotations."deployment.kubernetes.io/revision-timestamp" = strenv(TIMESTAMP)' "$DEPLOYMENT_FILE"

      - name: Commit files
        working-directory: infra
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git add .
          git commit -am "Update image tag"
          git push -u origin main

      - name: action-slack
        uses: 8398a7/action-slack@v3
        continue-on-error: true
        with:
          status: ${{ job.status }}
          author_name: Github Bot (Production)
          fields: repo,message
          if_mention: success,failure
          channel: alert-deploy
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
        if: always()
